<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin side efter login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  {% include "side_bar.html" %}
  <div class="header">
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <h1>Oversigt over studerende</h1>
      <div class="column-table">
        <table class="content-table">
          <thead>
            <tr>
              <th>Elev ID</th>
              <th>Fornavn</th>
              <th>Efternavn</th>
              <th>Hold</th>
              <th>Kort ID</th>
            </tr>
          </thead>
          <tbody>
            {% for row in output %}
            <tr class="active-row">
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
</body>

</html>